# 1. Pandas

In [4]:
import pandas as pd

# 2. 파일에서 데이터 불러오기

In [5]:
mushroom = pd.read_csv('mushrooms.csv')

In [6]:
mushroom.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [8]:
mushroom.tail()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

# 3. DataFrame 생성하기

### (1) Dictionary

In [7]:
dictFriends = [
    {'name' : 'Lee', 'age' : 25, 'university' : 'Chung-Ang', 'major' : 'CS'},
    {'name' : 'David', 'age' : 28, 'university' : 'Stanford', 'major' : 'EE'},
    {'name' : 'Lee', 'age' : 25, 'university' : 'Chung-Ang', 'major' : 'CS' }
]

In [9]:
myFriends = pd.DataFrame(dictFriends)
myFriends

   age major   name university
0   25    CS    Lee  Chung-Ang
1   28    EE  David   Stanford
2   25    CS    Lee  Chung-Ang

In [13]:
# dict : column을 수동정렬 해야 함
myFriends = myFriends[['name', 'age', 'university', 'major']]
myFriends

    name  age university major
0    Lee   25  Chung-Ang    CS
1  David   28   Stanford    EE
2    Kim   22      Seoul    BE

### (2) List

In [10]:
listFriends = [
    ['Lee', 25, 'Chung-Ang', 'CS'],
    ['David', 28, 'Stanford', 'EE'],
    ['Kim', 22, 'Seoul', 'BE']
]

columnName = ['name', 'age', 'university', 'major']

In [12]:
myFriends = pd.DataFrame.from_records(listFriends, columns = columnName)
myFriends

    name  age university major
0    Lee   25  Chung-Ang    CS
1  David   28   Stanford    EE
2    Kim   22      Seoul    BE

## 4. DataFrame 파일로 저장하기

In [18]:
myFriends.to_csv('friends.csv', index = True, header = True)

## 5. 행, 열 선택 및 필터